<div class="centered">
<div class="row">
    <div class="span12 offset1">
        <form method="POST" action="/">
    
            <div class="row">
                <div class="span6 offset2">
                
                    <h2><a href="/">Sorry, your meme was not found. Click here to create a new meme.</a>
                    </br>
                    </br>
                    </h2>
                    
                </div>
                
            </div>

        </form>
    </div>
</div>
</div>