<div class="centered">
<div class="row">
    <div class="span12">
        <form method="POST" action="/">
    
            <div class="row">
                <div class="span8 offset2">
               <div id="overflow_container">
                <img src="/img/<%= image %>">
                   <div id="meme1">
                   <h3 ><%= line1 %></h3>
                   </div>
                    <br><div id="meme2">
                    <h3><%= line2 %></h3>
                    </div>
                    </div>
                </div>
            </div>
            
            
            <div class="row">
                <div class="span10 offset1">
                    </br>
                    </br>
                    <h4><a href="/">(Make a new meme!)</a></h4>
                </div>
                
            </div>

        </form>
    </div>
</div>
</div>